Zamprogno/MayanCalculation/Debug/
Zamprogno/MayanCalculation/.vs/

Novati/x64/Debug/
Novati/x64/Release/
Novati/Debug/
Novati/Release/
Novati/.vs/

Novati/AsciiArt/x64/Debug/
Novati/AsciiArt/x64/Release/
Novati/AsciiArt/Debug/
Novati/AsciiArt/Release/

Novati/Gravity/x64/Debug/
Novati/Gravity/x64/Release/
Novati/Gravity/Debug/
Novati/Gravity/Release/

Novati/GameOfLife/x64/Debug/
Novati/GameOfLife/x64/Release/
Novati/GameOfLife/Debug/
Novati/GameOfLife/Release/